@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #3f0808;
}

header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: #fff;
}

header.fixed-menu {
    position: fixed;
}

header .header-logo {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .header-logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;

}

header .header-navbar {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center !important;
}

header .menu-bars {
    display: none;
}

header .menu-bars #menu-icon {
    z-index: 99;
    cursor: pointer;
}

header .header-navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header .header-navbar ul li {
    font-size: 18px;
    font-weight: 450;
}

header .header-navbar ul li:hover a {
    color: #e01308;
}

header .header-button {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.standard-btn {
    padding: 11px 25px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #e01308;
    transition: 0.5s ease-in-out;
}

.standard-btn:hover {
    background-color: #fff;
    border: 1px solid #e01308;
    color: #e01308;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.banner {
    width: 100%;
    height: 87vh;
    background-color: #B0E0E6;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
}

.banner .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000070;
}

.banner .overlay h3 {
    width: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 60px;
    color: #fff;
}

.banner .overlay h5 {
    font-size: 21px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.about .about-image {
    width: 40%;
    height: 350px;
}

.about .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text {
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about .about-text p {
    width: 80%;
    font-size: 22px;
    font-weight: 300;
}

@media (max-width: 804px) {
    header {
        height: 10vh;
        justify-content: space-between;
    }

    header .header-logo {
        width: 30%;
    }

    header .header-logo img {
        width: 93%;
        height: 93%;
    }

    header .header-navbar {
        position: absolute;
        top: -100%;
    }

    header .menu-bars {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
    }

    header .menu-bars #menu-icon {
        font-size: 30px;
    }

    header .header-button {
        display: none;
        border: 1px solid red;
    }

    .banner {
        height: 40vh;
    }

    .banner .overlay {
        background-color: #00000097;
    }

    .banner .overlay h3 {
        width: 89%;
        font-size: 35px;
    }

    .banner .overlay h5 {
        width: 70%;
        font-weight: 350px;
        line-height: 25px;
    }

    .about {
        flex-direction: column;
    }

    .about .about-image {
        width: 80%;
    }

    .about .about-text {
        width: 80%;
    }

    .about .about-text p {
        width: 100%;
        text-align: justify;
    }
}